@charset "utf-8";
/* CSS Document */
.head{
/*	background: url(header/img/head.png);
	background-size: cover;*/

	background: url(img/head.png);
/*	background-size: cover;*/
	width: 1366px;
	height: 346px;
}
.head_top{
	width: 1366px;
	height: 30px;
}
.head_menu{
	width: 1366px;
	height: 90px;
	background-image: -webkit-linear-gradient(90deg, #655c5d 0%, #847a6d 100%);
	background-image: -moz-linear-gradient(90deg, #655c5d 0%, #847a6d 100%);
	background-image: -o-linear-gradient(90deg, #655c5d 0%, #847a6d 100%);
	background-image: linear-gradient(0deg, #655c5d 0%, #847a6d 100%);
}

.win_zone_block{
	width : 149px ;
	height : 39px ;
}
.win_zone{
/*
	width : 149px ;
	height : 39px ;
*/
}
.win_zone_win{
	font-family : Panton ;
	color : #9bdf0a ;
	font-size : 32px ;
	font-weight : 700 ;
	line-height : 72px ;
}
.win_zone_zone{
	font-family: Panton;
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	line-height: 72px;
}
.win_zone_slogan_first_white{
	font-family: Panton;
	color: #ffffff;
	font-size: 9px;
	font-weight: 600;
	line-height: 12px;
}
.win_zone_slogan_second_green{
	font-family: Panton;
	color: #9bdf0b;
	font-size: 9px;
	font-weight: 600;
	line-height: 12px;
}

/*nav*/
nav{
/*
    width: 100%;
    height:50px;
*/
	width: 404px;
	height: 11px;
	font-family: Panton;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	line-height: 72px;
    text-align: center;    
    vertical-align:middle;
	
}
nav a {
    text-decoration: none;
	color: #ffffff;
}
nav a:hover {
    color: #345;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
	
}
.vertial_line{
	width: 1px;
	height: 39px;
	border-width: 1px;
	border-color: #ffffff;
	border-style: solid;
	background-color: #d7d7d7;
}
.x2{
	width: 16px;
	height: 12px;
	font-family: Panton;
	color: #ffffff;
	font-weight: 700;
	font-size: 90px;
	transform: scale(0.131,0.131);
}
.round-star-label {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 80px;
  position: relative;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
}

.round-star-label::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 80px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  text-shadow: none;
  -webkit-transform: rotateZ(30deg)   ;
  transform: rotateZ(30deg)   ;
}

.round-star-label::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 80px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  text-shadow: none;
  -webkit-transform: rotateZ(60deg)   ;
  transform: rotateZ(60deg)   ;
}
	